<div class="row">
  <div class="col-md-8">
    <div class="media">
      <br />

      <div class="media-body">
        <h2 class="media-heading"><%= current_user.email %></h2>
        <small>
          <%= pluralize(current_user.items.count, 'item') %>,

        </small>
      </div>

      <div class="row">
      <div class="col-md-8">
        <%# render partial: "labels/list", locals: { labels: @post.labels } %>
        <br />
      </div>
     </div>
    </div>
  </div>
</div>
