<br>
<div class="jumbotron">
  <h1>Blocitoff</h1>
  <p>Blocitoff is a way to get shit done!</p>
  <p>
    <%= link_to "Sign Up", new_user_path, class: 'btn btn-primary' %> today!
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Keeps you on track!</h2>
    <p>Let the list hold what your head can't.</p>
  </div>
  <div class="col-md-4">
    <h2>Gives you a time limit.</h2>
    <p>Prioritize what you need done.</p>
  </div>
</div>
