<div class="media">

  <div class="media-body">
    <%= item.name %>
    | <%= link_to "Delete", [item.user, item], method: :delete, class: 'glyphicon glyphicon-ok' %>

    <td><%= item.description %></td>
    <td>Time left <%= distance_of_time_in_words(from_time = Time.now, to_time = 0, options = {}) public %></td>

  </div>
</div>
